.contentspace {
  width: 70%;
  height: 70%;
  margin-left: 10%;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}
.content {
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 50%;
  width: 50%;
}
.content h4 {
  font-size: 1.2rem;
}
.content p {
  font-size: 0.8rem;
  padding-top: 7px;
}
