.mainheader {
  position: absolute;
  top: 30%;
  left: 25%;
  font-family: Dr Sugiyama, cursive;
  font-size: 5em;
  color: white;
}
@media screen and (max-width: 800px) {
  .mainheader {
    font-size: 3em;
  }
}
