/*font-family: 'Montserrat', sans-serif;*/



.environments {
	display: flex;
	justify-content: center;	
	width:100%;
	height: 70%;
	background-color: #2f323c;
	position: absolute;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}












